<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>

<body>
    <h1>Antonio Brown</h1>
    <p>I really don't know how to describe my self, but let me add what my friends and others say about me.
        I'll start off like it's a fairytale story, Once upon a time, there was a child bornt into a family that
        made a massive bet on his gender. All the details weren't clear, but that's how he ended up with two lovely God
        mothers.
        As the only male child of my mother it is said that he is a "spoiled brat" who gets away with wrongs and get
        what he
        want.
        About twenty-one years later, he realized that he won't get everything he want or will be easily forgiven for
        doing wrongs.
        also, he developed into a nerd like figure, who loves to advocate for students and lead them, a social media
        influencer (in the process #life_oftony),
        public speaker, and most importantly strugling to bring the dream he had as a child, to have a profession in the
        Computing industry(not sure of which area to be exact).
        I'm sorry to say, but this is the end.
    </p>
</body>

</html>